body {
	margin: 0;
}
.game-wrapper {
	text-align: center;
	background-image: linear-gradient(#faaca8, #ddd6f3);
	min-height: 100vh;
}
.square {
	float: left;
	font-size: 32px;
	font-weight: bold;
	line-height: 32px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	position: relative;
}
.covered {
	background: #95ebec;
	box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
}
.covered:hover {
	background: lightpink;
}
.over {
	background: #95ebec;
	box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
}
.revealed {
	background: #f5fffa;
	border: 1px solid rgba(96, 96, 96, .25);
}
.end {
	clear: left;
}
.bottom {
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	background: #95ebec;
	box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
	overflow: auto;
	display: inline-block;
	float: left;
	clear: left;
}
.top {
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	background: #95ebec;
	box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
	overflow: auto;
}
.menuCol {
	float: left;
	width: 33%;
	display: inline-block;
}
.menuButtons {
	border: 2px solid #ff6ead;
	background: linear-gradient(#fff, #fff, #f5fffa);
	font-family: 'Assistant', sans-serif;
	font-size: 13px;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 5px;
	display: block;
	margin: 5px;
	text-align: center;
	color: black;
	cursor: pointer;
	width: 95%;
}
.time {
	float: left;
}
.hearts {
	float: right
}
.time-counter {
	border: 2px solid #ff6ead;
	background: linear-gradient(#f5fffa, #fff, #fff);
	font-family: 'Assistant', sans-serif;
	font-size: 20px;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 5px;
	display: block;
	float: right;
	margin: 5px;
	width: 45px;
	text-align: center;
}
.heart-counter {
	border: 2px solid #ff6ead;
	background: linear-gradient(#f5fffa, #fff, #fff);
	font-family: 'Assistant', sans-serif;
	font-size: 20px;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 5px;
	display: block;
	float: left;
	margin: 5px;
	width: 25px;
	text-align: center;
}
.blinking-x {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	opacity: 0;
}
.flashx-enter-active {
	animation: flashx-in .75s;
}
.flashx-leave-active {
	animation: flashx-in .75s reverse;
}
@keyframes flashx-in {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.clockImg {
	margin-left: 5px;
	margin-right: 2px;
	margin-top: 3px;
}
.heartImg {
	margin-right: 5px;
	margin-left: 2px;
	margin-top: 3px;
}
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(250, 172, 168, 0.7), rgba(221, 214, 243, 0.7));
	display: table;
	transition: opacity 0.3s ease;
}
.modal-container {
	width: 450px;
	margin: 0px auto;
	margin-top: 0%;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
	overflow: auto;
	text-align: left;
}
.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}
.modal-body {
	margin: 20px 0;
}
.modal-default-button {
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}
.modal-footer {
	clear: left;
}
.modal-input {
	float: left;
	clear: left;
}
.modal-label {
	float: left;
}
.modal-enter {
	opacity: 0;
}
.modal-leave-active {
	opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}